.media-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.media-margin-top {
  margin-top: 0.5rem;
}
.media.input {
  padding: 1rem;
}
#inputfield {
  padding: 0.5rem;
}

/* the game */

.players-container {
  padding: 1rem 0;
}

.player-one,
.player-two {
  width: 8rem;
}

.versus {
  padding: 1rem 0;
}

.fas {
  font-size: 4rem;
}

.game-btn-container .btn-big {
  margin: 1rem 1rem;
}

.user-container {
  flex-direction: column-reverse;
}

/* statistics page */

.bot-statistics {
  flex-direction: column;
}

/* main {
  height: xxx;
} */

.endscreenBtn {
  flex-direction: column;
  align-items: center;
}

.marginBtn {
  margin-right: 0;
}

.playerbox {
  width: 100%;
  position: relative;
}

.bots {
  /* flex-direction: column; */
  width: 100%;
  padding: 1rem;
}

.figure-1 {
  font-size: 4rem;
  padding: 1rem 2rem;
}
.statisticFix {
  height: 100%;
}
.bodyFix {
  height: auto;
}

/* Lade till detta för att öka height-ytan totalt i mobile */
/* main {
    height: 200rem;
  } */
