* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  background: linear-gradient(#064258, #026082);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  color: hsl(186, 100%, 55%);
}

.highscore h3 {
  padding-bottom: 0.5rem;
}

p {
  font-size: 1.2rem;
  color: white;
}

li {
  color: white;
}

.time-left {
  font-size: 1.3rem;
  animation: fade 1s ease;
}

.bots {
  display: flex;
  justify-content: space-around;
  margin: 0 5rem 0 5rem;
}

.bot-img {
  width: 12rem;
}

.botStatRow {
  animation: fade 1.3s linear;
  transition: all 0.5s linear;
}

.margin-top {
  margin-top: 3rem;
}

.margin-top1 {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 3rem;
}

.margin05 {
  margin: 0.5rem;
}

.margin1 {
  margin: 1rem;
}

.margin2 {
  margin: 2rem;
}

.margin3 {
  margin: 3rem;
}

.marginBtn {
  margin: 0 1rem 0 0;
}

main {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  height: 40rem;
}

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.width100 {
  width: 100%;
}
.height100 {
  height: 100%;
}

.colorText {
  color: hsl(186, 100%, 55%);
  text-shadow: 1px 1px black;
}

.bold {
  font-weight: 600;
}

.green {
  color: 55a630;
}

.blue {
  color: 0072ce;
}

.red {
  color: a4161a;
}

/* Knappsmink */
#inputfield {
  padding-left: 0.2rem;
  border-style: none;
  border-bottom: 1px solid rgb(221, 221, 221);
  outline: none;
  background: none;
  font-size: 1.5rem;
  outline: none;
  color: white;
  animation: flip 1.4s ease-out;
  transition: all 1s ease;
}

#inputfield::placeholder {
  color: white;
}

.btn {
  width: 10rem;
}

.btn-small {
  padding: 0.5rem;
  width: 8rem;
  border-style: none;
  background: #a0a0a0;
  color: white;
}

.btn-big {
  margin-bottom: 2rem;
  padding: 0.8rem;
  width: 10rem;
  border-style: none;
  background: #a0a0a0;
  color: white;
  font-size: 1rem;
  border-radius: 0.25rem;
  filter: drop-shadow(2px 2px 3px #264144);
  outline: none;
  animation: scale 1s ease;
}

.hoverbutton {
  background: linear-gradient(#37aad4, #51a4c2);
}

.colorBtn {
  background-color: #40C7DA;
  color: white;
  border-radius: 0.25rem;
  filter: drop-shadow(2px 2px 3px #264144);
}

.colorBtn:hover {
  background: linear-gradient(#37aad4, #51a4c2);
}

.fas {
  font-size: 10rem;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.bot-active {
  background: rgb(230, 230, 230);
  opacity: 0.9;
}

.confirm-bot {
  opacity: 0;
  pointer-events: none;
}

.confirm-bot-active {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}

.green-bot {
  color: green;
}

.playerbox {
  transition: background 0.1s ease-in-out;
  cursor: pointer;
}

.playerbox p {
  padding-bottom: 1rem;
  color: rgb(255, 255, 255);
}

.small-text {
  font-size: 0.9rem;
}

.logo-small {
  width: 15rem;
  filter: brightness(1.15);
  animation: scale 1s ease-out;
}

/* Start page */
.logo {
  width: 40rem;
  filter: brightness(1.15) hue-rotate(0deg);
  padding: 1rem 0 0 0;
  animation: scale 1.5s ease;
}

.width70 {
  width: 60%;
}

/* The game */
.background {
  background-image:url("../../assets/logo-opacity1.png");
  background-size: cover;
  background-position: center 0%;
  background-size: 48rem;
  background-repeat: no-repeat, no-repeat;
  animation: fade 1s ease;
}

.players-container {
  padding: 0 0 2.3rem 0;
}

.answer {
  font-size: 2rem;
  height: 2rem;
  margin: 1rem;
  color: hsl(186, 100%, 57%);
  text-shadow: 1px 1px black;
}

.game-status {
  margin-bottom: 1rem;
}

.game-btn-container .btn-big {
  margin: 2rem 2rem;
}

#number {
  height: 3rem;
  width: 10rem;
  padding-left: 0.5rem;
  outline: none;
}

.number {
  box-shadow: 0px 0px 10px 2px rgb(0, 255, 85);
  transition: all 1s;
}

.number-nofocus {
  outline: none;
  outline-width: 0rem;
  outline-style: none;
  box-shadow: 0px 0px 5px 1px #ffffff;
}

.player-one,
.player-two {
  width: 12rem;
}

.confirm {
  padding: 1.5rem;
}

.figure-green {
  color: #55a630;
  /* animation: fade 1.3s linear;
  transition: all 0.5s linear; */
}

.figure-blue {
  color: #0072ce;
  /* animation: fade 1.3s linear;
  transition: all 0.5s linear; */
}

.figure-red {
  color: #a4161a;
  /* animation: fade 1.3s linear;
  transition: all 0.5s linear; */
}

.figure-1,
.figure-2 {
  animation: flip 1.3s linear;
  transition: all 0.5s linear;
}

/* Endscreen css */

.endBody {
  height: 100%;
}

.vinnTitelBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: scale 1s;
  transition: all 1s;
}

.highscore {
  margin: 1rem 0 1rem 0;
}

.highscoreTable {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  width: 20rem;
  color: white;
}

#player {
  padding-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
}

#scoreText {
  width: 100%;
  float: left;
  font-size: 1.4rem;
}

#wins {
  float: right;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

#games {
  float: right;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

#guesses {
  float: right;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.endscreenBtn {
  justify-content: space-around;
  flex-direction: row-reverse;
  margin: 2rem 0 0 0;
}

.margin-btn {
  margin-left: 1rem;
}
.space-around {
  justify-content: space-around;
}

/* .bot-statistics {
  padding-bottom: 1rem;
} */

/*olofs klasser*/
.rubrik {
  margin-bottom: 1rem;
}

.height100 {
  height: 100%;
}
.activeLight {
  background: rgba(255, 255, 255, 0.8);
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 15px 2px hsl(186, 100%, 57%);
  box-shadow: 0px 0px 15px 2px hsl(186, 100%, 57%);
}

/* Rule box css */
.rule-box {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.rule-content {
  background: linear-gradient(#064258, #026082);
  border: 1px solid white;
  font-size: 1.4rem;
  margin: 5% auto;
  padding: 4rem;
  width: 80%;
  position: relative;
  line-height: 2rem;
}

.ruleHeader {
  text-align: center;
  font-size: 2rem;
}

.close {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.close:hover,
.close:focus {
  color: #00abbe;
  text-decoration: none;
  cursor: pointer;
}

#orderedListA {
  margin-left: 1.5rem;
}
/* rule box css end */

/* SPEECH BUBBLES */
.bubblebox {
  height: 3rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  padding: 0 0 0 0;
  margin-bottom: 0.5rem;
}

.bubble {
  justify-content: center;
  padding-top: 1rem;
  display: inline-block;
  margin: 0rem 4.5rem;
  animation: fade 0.5s;
  transition: all 0.5s;
}

.speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: 0.4em;
  width: 3rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

.p-bubble {
  justify-content: center;
  display: flex;
  padding-top: 0.4rem;
  color: #00565f;
}

.player-name,
.bot-name {
  padding-top: 0.5rem;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scalegrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}