* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  background: #f3f3f3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

.bots {
  display: flex;
  justify-content: space-around;
  margin: 0 5rem 0 5rem;
}

.bot-img {
  width: 12rem;
}

.margin05 {
  margin: 0.5rem;
}

.margin1 {
  margin: 1rem;
}

.margin2 {
  margin: 2rem;
}

.margin3 {
  margin: 3rem;
}

.marginBtn {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

main {
  /* background: rgb(161, 214, 228); */
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  height: 40rem;
}

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.width100 {
  width: 100%;
}
.height100 {
  height: 100%;
}

/* Knappsmink */
#inputfield {
  padding-left: 0.5rem;
  border-style: none;
  border-bottom: 1px solid #000000;
  outline: none;
}

.btn {
  width: 10rem;
}

.btn-small {
  /* width: 10rem; */
  padding: 0.5rem;
  width: 8rem;
  border-style: none;
  box-shadow: 1px 1px 1px #4e4e4e;
  background: #ffffff;
}

.btn-big {
  /* width: 10rem; */
  padding: 0.5rem;
  width: 10rem;
  /* color: hotpink; */
  border-style: none;
  box-shadow: 1px 1px 1px #4e4e4e;
  background: #ffffff;
}

.fas {
  font-size: 10rem;
  padding-bottom: 1rem;
}

.bot-active {
  background: white;
}

.green-bot {
  color: green;
}

.playerbox {
  transition: background .3s ease-in-out;
  cursor: pointer;
}
.playerbox:hover {
  background-color: white;
}

/* the game */

.players-container {
  padding: 2rem 0;
}

.versus {
  padding: 0 2rem;
}

.answer {
  font-size: 3rem;
}

.game-btn-container .btn-big {
  margin: 2rem 2rem;
}

#number {
  height: 3rem;
}

.player-one,
.player-two {
  width: 12rem;
}

.players-container .fas {
  border: 1px white solid;
  padding: 1rem 2rem;
  background-color: white;
}

.game-btn-container .confirm {
  padding: 2rem;
}

.figure-green {
  color: green;
}

.figure-blue {
  color: blue;
}

.figure-red {
  color: red;
}

/* endscreen css */

.endBody {
  height: 100%;
}

.vinnTitelBox {
  height: 60vh;
  width: 60vw;
  background-color: gray;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  flex-direction: column;
}

.vinnTitel {
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.highscoreTable {
  height: 48vh;
  width: 55vw;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.endscreenBtn {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 50%;
  margin-left: 5rem;
  margin-right: 5rem;
}

/* .btn {
  padding: 0.3rem;
} */

.margin-btn {
  margin-left: 1rem;
}
.space-around {
  justify-content: space-around;
}
/*olofs klasser*/
.rubrik {
  margin-bottom: 1rem;
}

.height100 {
  height: 100%;
}
